
.course-pill {
	h3 {
		margin-top: 0px;
	}
	.photo {
		border-radius: 100px;
	}
	.label {
		margin-right: 5px;
	}
}

.angular-google-map-container { 
	height: 400px; 
}

.course {
	border-bottom: 1px solid #E2E1DC;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;

	.avatar {
		margin-top: 10px;
		border-radius: 100px;
		max-width: 60px;
	}
	&:last-child {
		border-bottom: none;
	}
}

.category {
	h4 {
		display: inline-block;
	}
	.label {
		display: inline-block;
		margin-right: 5px;
		&:hover {
			cursor: pointer;
			background-color: @brand-success;
		}
	}
}