<div class="view container">
	<div class="jumbotron index">
		<div class="container">
			<br>
			<h1>Bienvenido a MicroCap</h1>
			<br>
			<p>El portal web donde podrás encontrar <span class="label label-success">micro capacitaciones</span>: pequeños cursos y tutorías que te permitirán capacitarte en alguna habilidad.</p>
			<br>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<form ng-submit="search()">
				<div class="input-group">
					<input id="search-home" ng-model="query" type="text" class="form-control" placeholder="Busca tu Micro Capacitación...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" style="font-size:28px;height:60px;"><span class="fa fa-search"></span></button>
					</span>
					<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="view-full">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-3 text-center">
				<div class="concept">
					<div class="icon"><i class="fa fa-hand-o-up"></i></div>
					<h1 class="title">Ofrece</h1>
					<p>¿Tienes alguna habilidad que quieras compartir? Ofrece tus propias micro capacitaciones y encuentra interesados en aprender tu habilidad.</p>
				</div>
			</div>
			<div class="col-sm-3 text-center">
				<div class="concept">
					<div class="icon"><i class="fa fa-search"></i></div>
					<h1 class="title">Busca</h1>
					<p>¿Quieres aprender algo nuevo? ¿Quieres mejorar tus habilidades? Encuentra micro capacitaciones, y consigue mejorar tus habilidades.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="view-blank courses">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="text-center">Encuentra Micro Capacitaciones</h1>
				<hr>
				
				<div class="row">
					<div class="col-md-4" ng-repeat-start="course in courses">
						<div course-pill course="course"></div>
					</div>
					<div class="clearfix" ng-if="$index%3==2"></div>
					<div ng-repeat-end=""></div>
				</div>
			</div>
		</div>
	</div>
</div>
