<div class="view container">
	<div class="jumbotron index">
		<div class="container">
			<h1>Que es MicroCap?</h1>
			<p>Aplicación Web 2.0 que permite a la comunidad buscar y ofrecer todo tipo de eventos culturales, seminarios, talleres y cursos de manera gratuita.</p>
			<p>Si no estas registrado hazlo ahora!</p>
			<p><a class="btn btn-primary btn-lg" role="button">Registro</a></p>
		</div>
	</div>
	<br>
	<!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<div ng-repeat="course in courses">
		<ui-gmap-marker coords="course.marker.coords" markerlabel="asd" options="course.marker.options" events="course.marker.events" idkey="course.marker.id">
        </ui-gmap-marker>
		</div>
	</ui-gmap-google-map> -->
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Busca tu Micro Capacitación..." style="font-size:28px;height:60px;">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" style="font-size:28px;height:60px;"><span class="fa fa-search"></span></button>
				</span>
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
	</div>
</div>

<div class="view-full">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-3 text-center">
				<div class="concept">
					<div class="icon"><i class="fa fa-hand-o-up"></i></div>
					<h1 class="title">Ofrezco</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam odit debitis fugit.</p>
				</div>
			</div>
			<div class="col-sm-3 text-center">
				<div class="concept">
					<div class="icon"><i class="fa fa-search"></i></div>
					<h1 class="title">Busco</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam odit debitis fugit.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="view-blank courses">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="text-center">Encuentra Micro Capacitaciones</h1>
				<hr>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis illo unde nisi id commodi quidem blanditiis expedita, qui, voluptatum soluta ratione autem facilis neque aliquam libero dolorum saepe reiciendis. Facere?</p>
				<br>

				<div class="row">
					<div class="col-md-4" ng-repeat-start="course in courses">
						<div course-pill course="course"></div>
					</div>
					<div class="clearfix" ng-if="$index%3==2"></div>
					<div ng-repeat-end=""></div>
				</div>
			</div>
		</div>
	</div>
</div>
